*.pyc
*.mypy_cache*
*__pycache__
__pycache__/*
htmlcov/*
settings.json
coverage.xml
.coverage
*.ipynb_checkpoints*
doc/*
*pickle
*whl
*tar.gz
PKG-INFO
*.txt
site/*
poetry.lock
client_id
pkgs/cache
pkgs/urls
setup.py
.venv/*